header {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    width: 100%;
    height: 80px;
    align-items: center;
    position: sticky;
    z-index: 9999;
    top: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

img {
    width: 50px;
    height: 40px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.contact-us {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 20px;
}
